<div class="event-detail-container" *ngIf="event">
  <div class="event-header">
    <div class="event-header-content">
      <!-- Image + titre -->
      <div class="event-image" *ngIf="event.imageUrl">
        <img [src]="event.imageUrl" alt="{{ event.title }}">
      </div>
      <div class="event-title-section">
        <h1>{{ event.title }}</h1>
      </div>
      <!-- Bouton Intéressé pour volonatry -->
      <button
        *ngIf="isVOLUNTARY()"
        class="interested-button"
        (click)="toggleInterest()"
        [ngClass]="{'star-interested': event.isInterested}"
      >
        <i class="fas fa-star"></i>
      </button>
    </div>
  
    <div class="event-nav-container">
      <nav class="event-nav">
        <ul>
          <li routerLinkActive="active" [routerLink]="['detail']">Détails</li>
          <li routerLinkActive="active" [routerLink]="['postes']">Postes</li>
          <li routerLinkActive="active" [routerLink]="['teams']">Teams</li>
        </ul>
      </nav>
    
      <div class="event-nav-actions">
        <button  (click)="onEditEvent()" *ngIf="isAdmin()">Modifier</button>
      </div>
    </div>
    
  </div>
  <ng-container *ngIf="event">
    <router-outlet></router-outlet>
  </ng-container>

